{
  "openapi": "3.1.0",
  "info": {
    "title": "DJD Agent Score API",
    "description": "Trust infrastructure for AI agent wallets on Base. DJD helps apps and agent operators score wallets, publish public trust surfaces, and enforce payout or settlement policy before money moves. Use it for agent marketplaces, payout and escrow flows, paid tools, and automated settlement decisions. Paid endpoints support x402 on Base or API-key access for developer teams; free endpoints require no authentication. Interactive docs available at /docs.",
    "version": "2.0.0",
    "contact": {
      "email": "drewjacobs32@gmail.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/jacobsd32-cpu/djdagentscore/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://djdagentscore.dev",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "score",
      "description": "Score lookup and computation"
    },
    {
      "name": "register",
      "description": "Agent self-registration"
    },
    {
      "name": "report",
      "description": "Fraud reporting"
    },
    {
      "name": "ratings",
      "description": "Transaction-backed mutual counterparty ratings"
    },
    {
      "name": "data",
      "description": "Aggregated data endpoints"
    },
    {
      "name": "system",
      "description": "Health and metadata"
    },
    {
      "name": "api-keys",
      "description": "API key management (admin)"
    },
    {
      "name": "webhooks",
      "description": "Webhook subscriptions (admin and public)"
    },
    {
      "name": "monitoring",
      "description": "Managed score and DJD Forensics monitoring subscriptions"
    },
    {
      "name": "history",
      "description": "Historical score data (paid)"
    },
    {
      "name": "forensics",
      "description": "DJD Forensics wallet overview and incident timelines (paid)"
    },
    {
      "name": "certification",
      "description": "Certified Agent Badge (paid, admin, and public)"
    }
  ],
  "paths": {
    "/v1/score/basic": {
      "get": {
        "tags": [
          "score"
        ],
        "summary": "Basic score lookup",
        "description": "Returns composite score, tier, confidence, recommendation, and model version. Free tier: 10 requests/day per IP. No payment required.",
        "operationId": "getBasicScore",
        "parameters": [
          {
            "$ref": "#/components/parameters/wallet"
          }
        ],
        "responses": {
          "200": {
            "description": "Score returned (may include stale:true if RPC was unavailable)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasicScoreResponse"
                },
                "example": {
                  "wallet": "0x3e4ef1f774857c69e33dddc471e110c7ac7bb528",
                  "score": 13,
                  "tier": "Unverified",
                  "confidence": 0.1,
                  "recommendation": "insufficient_history",
                  "modelVersion": "1.0.0",
                  "lastUpdated": "2026-02-21T20:00:00.000Z",
                  "computedAt": "2026-02-21T20:00:00.000Z",
                  "scoreFreshness": 0.85
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/FreeTierExhausted"
          }
        }
      }
    },
    "/v1/score/erc8004": {
      "get": {
        "tags": [
          "score"
        ],
        "summary": "ERC-8004-compatible reputation document",
        "description": "Returns a free ERC-8004-compatible reputation document for a wallet, bundling the latest DJD score with registration, certification, and on-chain publication status.",
        "operationId": "getErc8004CompatibleScore",
        "parameters": [
          {
            "$ref": "#/components/parameters/wallet"
          }
        ],
        "responses": {
          "200": {
            "description": "Compatibility document returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ERC8004CompatibleScoreResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/score/full": {
      "get": {
        "tags": [
          "score"
        ],
        "summary": "Full score with dimension breakdown",
        "description": "Returns the composite score plus all four dimension scores (reliability, viability, identity, capability), integrity flags, data availability assessment, and improvement path. **Requires x402 payment of $0.10 USDC on Base.**",
        "operationId": "getFullScore",
        "parameters": [
          {
            "$ref": "#/components/parameters/wallet"
          }
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "x-x402": {
          "price": "$0.10",
          "network": "base"
        },
        "responses": {
          "200": {
            "description": "Full score returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullScoreResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/score/evaluator": {
      "get": {
        "tags": [
          "score"
        ],
        "summary": "ERC-8183 evaluator prototype",
        "description": "ERC-8183 evaluator prototype that returns an approve, review, or reject recommendation for settlement readiness, plus links into standards and forensics surfaces.",
        "operationId": "getEvaluatorPreview",
        "parameters": [
          {
            "$ref": "#/components/parameters/wallet"
          }
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "x-x402": {
          "price": "$0.35",
          "network": "base"
        },
        "responses": {
          "200": {
            "description": "Evaluator preview returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluatorPreviewResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/score/risk": {
      "get": {
        "tags": [
          "score"
        ],
        "summary": "Risk prediction overlay",
        "description": "Returns a risk prediction view for a wallet using fraud pressure, fraud-pattern matches, sybil and gaming signals, counterparty ratings, and transaction-intent outcomes. **Requires x402 payment of $0.50 USDC on Base or Bearer API key.**",
        "operationId": "getRiskScore",
        "parameters": [
          {
            "$ref": "#/components/parameters/wallet"
          }
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "x-x402": {
          "price": "$0.50",
          "network": "base"
        },
        "responses": {
          "200": {
            "description": "Risk profile returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RiskScoreResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/cluster": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Cluster analysis",
        "description": "Returns a cluster view for a wallet using relationship-graph structure, risk signals, and persisted cluster assignments. **Requires x402 payment of $0.15 USDC on Base or Bearer API key.**",
        "operationId": "getCluster",
        "parameters": [
          {
            "$ref": "#/components/parameters/wallet"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Max cluster peers and linked wallets to return (default 10, max 25)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 25,
              "default": 10
            }
          }
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "x-x402": {
          "price": "$0.15",
          "network": "base"
        },
        "responses": {
          "200": {
            "description": "Cluster analysis returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/score/refresh": {
      "post": {
        "tags": [
          "score"
        ],
        "summary": "Force live recalculation",
        "description": "Bypasses the cache and triggers a fresh on-chain scan. Returns the full score response. **Requires x402 payment of $0.25 USDC on Base.** Prefer POST; GET is accepted for backward compatibility but deprecated.",
        "operationId": "refreshScore",
        "parameters": [
          {
            "$ref": "#/components/parameters/wallet"
          }
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "x-x402": {
          "price": "$0.25",
          "network": "base"
        },
        "responses": {
          "200": {
            "description": "Freshly computed full score",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullScoreResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "get": {
        "tags": [
          "score"
        ],
        "summary": "Force live recalculation (deprecated — use POST)",
        "description": "**Deprecated.** Use `POST /v1/score/refresh` instead. This GET alias is kept for backward compatibility only.",
        "operationId": "refreshScoreDeprecated",
        "deprecated": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/wallet"
          }
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "x-x402": {
          "price": "$0.25",
          "network": "base"
        },
        "responses": {
          "200": {
            "description": "Freshly computed full score",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullScoreResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/score/compute": {
      "post": {
        "tags": [
          "score"
        ],
        "summary": "Queue async score computation",
        "description": "Submits a background full-scan scoring job and returns a `jobId` immediately (HTTP 202). Use `GET /v1/score/job/{jobId}` to poll for completion. Free — no payment required. Useful when the caller cannot wait 20-150s for the synchronous endpoints.",
        "operationId": "computeScore",
        "parameters": [
          {
            "name": "wallet",
            "in": "query",
            "required": false,
            "description": "Wallet address (deprecated — prefer JSON body)",
            "deprecated": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{40}$"
            }
          }
        ],
        "requestBody": {
          "description": "Preferred: pass wallet in JSON body",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "wallet"
                ],
                "properties": {
                  "wallet": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "Base wallet address"
                  }
                }
              },
              "example": {
                "wallet": "0x3e4ef1f774857c69e33dddc471e110c7ac7bb528"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending"
                      ]
                    },
                    "wallet": {
                      "type": "string"
                    },
                    "pollUrl": {
                      "type": "string",
                      "description": "Relative URL to poll for job status"
                    }
                  }
                },
                "example": {
                  "jobId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                  "status": "pending",
                  "wallet": "0x3e4ef1f774857c69e33dddc471e110c7ac7bb528",
                  "pollUrl": "/v1/score/job/a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/score/job/{jobId}": {
      "get": {
        "tags": [
          "score"
        ],
        "summary": "Poll async scoring job",
        "description": "Returns the current status of a scoring job submitted via `POST /v1/score/compute`. Jobs expire after 10 minutes.",
        "operationId": "getJobStatus",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status (pending, complete, or error)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "complete",
                        "error"
                      ]
                    },
                    "wallet": {
                      "type": "string"
                    },
                    "result": {
                      "$ref": "#/components/schemas/FullScoreResponse",
                      "description": "Present when status=complete"
                    },
                    "error": {
                      "type": "string",
                      "description": "Present when status=error"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Job not found or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agent/register": {
      "post": {
        "tags": [
          "register"
        ],
        "summary": "Register an agent wallet",
        "description": "Voluntarily register a wallet with optional metadata. Adds +15 identity points to the score and marks the wallet as registered on the leaderboard. GitHub URL is asynchronously verified against the GitHub API. Free — no payment required.",
        "operationId": "registerAgent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterBody"
              },
              "example": {
                "wallet": "0x3e4ef1f774857c69e33dddc471e110c7ac7bb528",
                "name": "DJD Score API",
                "description": "Reputation scoring for AI agents",
                "github_url": "https://github.com/owner/repo",
                "website_url": "https://djdagentscore.dev"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated existing registration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterResponse"
                }
              }
            }
          },
          "201": {
            "description": "First-time registration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      },
      "get": {
        "tags": [
          "register"
        ],
        "summary": "Look up agent registration",
        "description": "Returns registration metadata for a wallet. Free — no payment required.",
        "operationId": "getRegistration",
        "parameters": [
          {
            "$ref": "#/components/parameters/wallet"
          }
        ],
        "responses": {
          "200": {
            "description": "Registration found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "Wallet not registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/report": {
      "post": {
        "tags": [
          "report"
        ],
        "summary": "Submit a fraud report",
        "description": "Submit a fraud or misconduct report against a wallet. Verified reports reduce the target wallet's composite score by up to 25 points. **Requires x402 payment of $0.02 USDC on Base.**",
        "operationId": "submitReport",
        "security": [
          {
            "x402": []
          }
        ],
        "x-x402": {
          "price": "$0.02",
          "network": "base"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "target",
                  "reporter",
                  "reason",
                  "details"
                ],
                "properties": {
                  "target": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "Wallet being reported"
                  },
                  "reporter": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "Wallet submitting the report (must differ from target)"
                  },
                  "reason": {
                    "type": "string",
                    "enum": [
                      "failed_delivery",
                      "payment_fraud",
                      "impersonation",
                      "malicious_behavior",
                      "other"
                    ],
                    "description": "Category of misconduct"
                  },
                  "details": {
                    "type": "string",
                    "maxLength": 1000,
                    "description": "Supporting details and evidence (required, max 1000 chars)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Report submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/rate": {
      "post": {
        "tags": [
          "ratings"
        ],
        "summary": "Submit a mutual counterparty rating",
        "description": "Submit a transaction-backed 1-5 star rating for a counterparty wallet. The payer wallet becomes the rater, and the `tx_hash` must reference an indexed transaction worth at least $0.10 USDC between the two wallets. **Requires x402 payment of $0.01 USDC on Base.**",
        "operationId": "submitRating",
        "security": [
          {
            "x402": []
          }
        ],
        "x-x402": {
          "price": "$0.01",
          "network": "base"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RatingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Rating submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RatingResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "409": {
            "description": "Duplicate rating",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/stake": {
      "post": {
        "tags": [
          "staking"
        ],
        "summary": "Register a creator stake",
        "description": "Registers a creator-to-agent USDC stake after validating two indexed transfers: the creator's stake transfer to the agent wallet and a separate 1% DJD fee transfer to `PAY_TO`. This route does not use x402 pricing; the fee is validated directly from on-chain USDC transfers.",
        "operationId": "submitCreatorStake",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StakeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Creator stake registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StakeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "description": "Duplicate or blocked stake",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/data/fraud/blacklist": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Fraud report check",
        "description": "Check whether a wallet has active fraud reports filed against it. Returns the count and most recent reports. **Requires x402 payment of $0.05 USDC on Base.**",
        "operationId": "getBlacklist",
        "parameters": [
          {
            "$ref": "#/components/parameters/wallet"
          }
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "x-x402": {
          "price": "$0.05",
          "network": "base"
        },
        "responses": {
          "200": {
            "description": "Blacklist status returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/data/ratings": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Counterparty ratings",
        "description": "Returns aggregate mutual-rating sentiment and recent transaction-backed ratings for a wallet. **Requires x402 payment of $0.10 USDC on Base.**",
        "operationId": "getRatings",
        "parameters": [
          {
            "$ref": "#/components/parameters/wallet"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum ratings to return (default: 25, max: 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "x-x402": {
          "price": "$0.10",
          "network": "base"
        },
        "responses": {
          "200": {
            "description": "Ratings data returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataRatingsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/data/intent": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Transaction intent conversion data",
        "description": "Returns intent-conversion data for a wallet based on paid lookups and whether they were followed by on-chain deals. **Requires x402 payment of $0.25 USDC on Base.**",
        "operationId": "getIntentSignals",
        "parameters": [
          {
            "$ref": "#/components/parameters/wallet"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum intent records to return (default: 25, max: 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "x-x402": {
          "price": "$0.25",
          "network": "base"
        },
        "responses": {
          "200": {
            "description": "Intent conversion data returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataIntentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/data/decay": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Score decay curve",
        "description": "Returns the historical score decay curve for a wallet using hourly score snapshots, plus trend and trajectory analysis. **Requires x402 payment of $0.15 USDC on Base.**",
        "operationId": "getScoreDecay",
        "parameters": [
          {
            "$ref": "#/components/parameters/wallet"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum decay points to return (default: 50, max: 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Inclusive ISO 8601 lower bound for `recorded_at`.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Inclusive ISO 8601 upper bound for `recorded_at`.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "x-x402": {
          "price": "$0.15",
          "network": "base"
        },
        "responses": {
          "200": {
            "description": "Score decay data returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataDecayResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/data/graph": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Relationship graph",
        "description": "Returns directional relationship-graph intelligence for a wallet, including top counterparties and aggregate flow totals. **Requires x402 payment of $0.20 USDC on Base.**",
        "operationId": "getRelationshipGraph",
        "parameters": [
          {
            "$ref": "#/components/parameters/wallet"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum counterparties to return (default: 25, max: 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "x-x402": {
          "price": "$0.20",
          "network": "base"
        },
        "responses": {
          "200": {
            "description": "Relationship graph data returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataGraphResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/leaderboard": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Leaderboard",
        "description": "Returns the top 50 wallets by composite score. Registered wallets are sorted first. Free — no payment required.",
        "operationId": "getLeaderboard",
        "responses": {
          "200": {
            "description": "Leaderboard returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeaderboardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/badge/{wallet}.svg": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "SVG score badge",
        "description": "Returns an embeddable shields.io-style SVG badge showing the wallet's current score and tier. Cached for 10 minutes. Free — no payment required.",
        "operationId": "getBadge",
        "parameters": [
          {
            "name": "wallet",
            "in": "path",
            "required": true,
            "description": "Full 40-character hex wallet address (without .svg extension)",
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{40}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SVG badge image",
            "content": {
              "image/svg+xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "system"
        ],
        "summary": "Health check",
        "description": "Returns public service health for any caller, and includes runtime/database/indexer/job detail when called with a valid admin key. Release metadata is exposed when the deploy image is stamped with build identifiers.",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "System healthy"
          }
        }
      }
    },
    "/docs": {
      "get": {
        "tags": [
          "system"
        ],
        "summary": "Interactive API documentation",
        "description": "Serves a Swagger UI interface for exploring and testing the API interactively. Free — no payment required.",
        "operationId": "getDocs",
        "responses": {
          "200": {
            "description": "Swagger UI HTML page",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/data/economy": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Ecosystem economy metrics",
        "description": "Returns aggregated ecosystem health metrics: unique wallets scored, total queries, revenue, average scores, and more. Free — no payment required.",
        "operationId": "getEconomyMetrics",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": false,
            "description": "Aggregation period (default: daily)",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly"
              ],
              "default": "daily"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of periods to return (max 90, default 30)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 90,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Economy metrics returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "period": {
                      "type": "string"
                    },
                    "count": {
                      "type": "integer"
                    },
                    "metrics": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/v1/data/economy/survival": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Economy survival analytics",
        "description": "Returns cohort survival, 7/30/90-day retention, tier-level survival, and an at-risk wallet board derived from wallet activity and recent score decay. **Requires x402 payment of $0.15 USDC on Base or Bearer API key.**",
        "operationId": "getEconomySurvival",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Max at-risk wallets to return (default 20, max 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "x-x402": {
          "price": "$0.15",
          "network": "base"
        },
        "responses": {
          "200": {
            "description": "Economy survival returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EconomySurvivalResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/data/economy/summary": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Economy summary by period",
        "description": "Returns aggregated ecosystem summary metrics by period from `economy_metrics`. **Requires x402 payment of $0.10 USDC on Base or Bearer API key.**",
        "operationId": "getEconomySummary",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": false,
            "description": "Aggregation period (default: daily)",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly"
              ],
              "default": "daily"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of periods to return (max 90, default 30)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 90,
              "default": 30
            }
          }
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "x-x402": {
          "price": "$0.10",
          "network": "base"
        },
        "responses": {
          "200": {
            "description": "Economy summary returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EconomySummaryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/data/economy/volume": {
      "get": {
        "tags": [
          "data"
        ],
        "summary": "Economy volume by period",
        "description": "Returns transaction count and USDC flow time series by period from `economy_metrics`. **Requires x402 payment of $0.10 USDC on Base or Bearer API key.**",
        "operationId": "getEconomyVolume",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": false,
            "description": "Aggregation period (default: daily)",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly"
              ],
              "default": "daily"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of periods to return (max 90, default 30)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 90,
              "default": 30
            }
          }
        ],
        "security": [
          {
            "x402": []
          }
        ],
        "x-x402": {
          "price": "$0.10",
          "network": "base"
        },
        "responses": {
          "200": {
            "description": "Economy volume returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EconomyVolumeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/score/batch": {
      "post": {
        "tags": [
          "score"
        ],
        "summary": "Batch score lookup",
        "description": "Score up to 20 wallets in a single request. Returns basic score data for each wallet. **Requires x402 payment of $0.50 USDC on Base.**",
        "operationId": "batchScore",
        "security": [
          {
            "x402": []
          }
        ],
        "x-x402": {
          "price": "$0.50",
          "network": "base"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "wallets"
                ],
                "properties": {
                  "wallets": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^0x[0-9a-fA-F]{40}$"
                    },
                    "minItems": 2,
                    "maxItems": 20,
                    "description": "Array of wallet addresses to score"
                  }
                }
              },
              "example": {
                "wallets": [
                  "0x3e4ef1f774857c69e33dddc471e110c7ac7bb528",
                  "0x1234567890123456789012345678901234567890"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch scores returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BasicScoreResponse"
                      }
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/metrics": {
      "get": {
        "tags": [
          "system"
        ],
        "summary": "Prometheus metrics",
        "description": "Returns Prometheus-compatible metrics in text exposition format. Includes HTTP request counters, database gauges, and process metrics. Free — no payment required.",
        "operationId": "getMetrics",
        "responses": {
          "200": {
            "description": "Prometheus text metrics",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/admin/api-keys": {
      "post": {
        "tags": [
          "api-keys"
        ],
        "summary": "Create an API key",
        "description": "Creates a new API key for a wallet. The raw key is returned only once on creation — store it securely. **Requires admin authentication (X-ADMIN-KEY header).**",
        "operationId": "createApiKey",
        "security": [
          {
            "adminKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "wallet"
                ],
                "properties": {
                  "wallet": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "Wallet address to associate with the key"
                  },
                  "name": {
                    "type": "string",
                    "nullable": true,
                    "description": "Optional human-readable name for the key"
                  },
                  "tier": {
                    "type": "string",
                    "enum": [
                      "standard",
                      "premium"
                    ],
                    "default": "standard",
                    "description": "API key tier"
                  },
                  "monthly_limit": {
                    "type": "integer",
                    "default": 10000,
                    "description": "Monthly request limit"
                  }
                }
              },
              "example": {
                "wallet": "0x3e4ef1f774857c69e33dddc471e110c7ac7bb528",
                "name": "Production key",
                "tier": "standard",
                "monthly_limit": 10000
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyCreatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "api-keys"
        ],
        "summary": "List all API keys",
        "description": "Returns all API keys with usage stats. Raw keys are never returned — only prefixes. **Requires admin authentication (X-ADMIN-KEY header).**",
        "operationId": "listApiKeys",
        "security": [
          {
            "adminKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiKeyListItem"
                      }
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/admin/api-keys/{id}": {
      "delete": {
        "tags": [
          "api-keys"
        ],
        "summary": "Revoke an API key",
        "description": "Soft-deletes an API key by marking it as revoked. The key will no longer authenticate requests. **Requires admin authentication (X-ADMIN-KEY header).**",
        "operationId": "revokeApiKey",
        "security": [
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "API key ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "API key revoked"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "API key not found or already revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/admin/webhooks": {
      "post": {
        "tags": [
          "webhooks"
        ],
        "summary": "Create webhook (admin)",
        "description": "Registers a new wallet-scoped webhook subscription. Provide either `events`, `preset`, or `presets`. If `score.threshold` is selected without an explicit `threshold_score`, the service defaults to 60. Use `forensics_filter` to restrict DJD Forensics alerts by minimum resulting risk level and/or report reasons. Managed presets also include anomaly-driven monitoring for score drops, balance freefalls, and new Sybil flags. The webhook secret is returned only once, so store it securely to verify signatures. **Requires admin authentication (X-ADMIN-KEY header).**",
        "operationId": "createAdminWebhook",
        "security": [
          {
            "adminKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "wallet",
                  "url"
                ],
                "properties": {
                  "wallet": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "Wallet to monitor"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "HTTPS endpoint to receive webhook payloads"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "score.updated",
                        "score.expired",
                        "fraud.reported",
                        "fraud.disputed",
                        "fraud.dispute.resolved",
                        "forensics.risk.changed",
                        "forensics.watchlist.entered",
                        "forensics.watchlist.cleared",
                        "anomaly.score_drop",
                        "anomaly.score_spike",
                        "anomaly.balance_freefall",
                        "anomaly.sybil_flagged",
                        "agent.registered",
                        "score.threshold"
                      ]
                    },
                    "minItems": 1,
                    "description": "Explicit events to subscribe to. May be combined with presets."
                  },
                  "preset": {
                    "type": "string",
                    "enum": [
                      "score_monitoring",
                      "forensics_monitoring",
                      "forensics_disputes",
                      "forensics_watchlist",
                      "anomaly_monitoring"
                    ],
                    "description": "Optional preset that expands to a managed event set"
                  },
                  "presets": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "score_monitoring",
                        "forensics_monitoring",
                        "forensics_disputes",
                        "forensics_watchlist",
                        "anomaly_monitoring"
                      ]
                    },
                    "minItems": 1,
                    "description": "Optional preset bundle list. May be combined with explicit events."
                  },
                  "threshold_score": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 100,
                    "description": "Optional threshold for `score.threshold` alerts. Defaults to 60 when omitted."
                  },
                  "forensics_filter": {
                    "$ref": "#/components/schemas/WebhookForensicsFilter"
                  },
                  "tier": {
                    "type": "string",
                    "enum": [
                      "basic",
                      "premium"
                    ],
                    "default": "basic",
                    "description": "Webhook tier"
                  }
                }
              },
              "example": {
                "wallet": "0x3e4ef1f774857c69e33dddc471e110c7ac7bb528",
                "url": "https://example.com/webhooks/djd",
                "preset": "forensics_monitoring",
                "forensics_filter": {
                  "minimum_risk_level": "elevated",
                  "reasons": [
                    "payment_fraud"
                  ]
                },
                "tier": "basic"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookCreatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "get": {
        "tags": [
          "webhooks"
        ],
        "summary": "List webhooks (admin)",
        "description": "Returns all registered webhooks with delivery stats. **Requires admin authentication (X-ADMIN-KEY header).**",
        "operationId": "listAdminWebhooks",
        "security": [
          {
            "adminKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhooks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookListItem"
                      }
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/admin/webhooks/{id}": {
      "get": {
        "tags": [
          "webhooks"
        ],
        "summary": "Get webhook detail (admin)",
        "description": "Returns one webhook plus recent delivery attempts. **Requires admin authentication (X-ADMIN-KEY header).**",
        "operationId": "getAdminWebhook",
        "security": [
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Webhook ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDetailResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Webhook not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "webhooks"
        ],
        "summary": "Delete webhook (admin)",
        "description": "Deactivates a webhook subscription. **Requires admin authentication (X-ADMIN-KEY header).**",
        "operationId": "deleteAdminWebhook",
        "security": [
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Webhook ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Webhook deactivated"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Webhook not found or already disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/admin/webhooks/{id}/test": {
      "post": {
        "tags": [
          "webhooks"
        ],
        "summary": "Test webhook (admin)",
        "description": "Sends a test event payload to the webhook endpoint to verify connectivity. **Requires admin authentication (X-ADMIN-KEY header).**",
        "operationId": "testAdminWebhook",
        "security": [
          {
            "adminKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Webhook ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Test delivery result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the test delivery returned a 2xx status"
                    },
                    "status_code": {
                      "type": "integer",
                      "nullable": true,
                      "description": "HTTP status code from the webhook endpoint"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Webhook not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/presets": {
      "get": {
        "tags": [
          "webhooks"
        ],
        "summary": "List webhook presets",
        "description": "Returns the preset catalog for managed score and DJD Forensics monitoring bundles.",
        "operationId": "listWebhookPresets",
        "responses": {
          "200": {
            "description": "Available webhook presets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "presets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookPreset"
                      }
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks": {
      "post": {
        "tags": [
          "webhooks"
        ],
        "summary": "Create public webhook",
        "description": "Self-service wallet-scoped webhook registration for API key holders. Provide either `events`, `preset`, or `presets`. If `score.threshold` is selected without an explicit `threshold_score`, the service defaults to 60. Use `forensics_filter` to restrict DJD Forensics alerts by minimum resulting risk level and/or report reasons. Managed presets also include anomaly-driven monitoring for score drops, balance freefalls, and new Sybil flags. Limited to 10 active webhooks per wallet. **Requires Bearer API key authentication.**",
        "operationId": "createPublicWebhook",
        "security": [
          {
            "bearerApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "HTTPS endpoint to receive webhook payloads"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "score.updated",
                        "score.expired",
                        "fraud.reported",
                        "fraud.disputed",
                        "fraud.dispute.resolved",
                        "forensics.risk.changed",
                        "forensics.watchlist.entered",
                        "forensics.watchlist.cleared",
                        "anomaly.score_drop",
                        "anomaly.score_spike",
                        "anomaly.balance_freefall",
                        "anomaly.sybil_flagged",
                        "agent.registered",
                        "score.threshold"
                      ]
                    },
                    "minItems": 1,
                    "description": "Explicit events to subscribe to. May be combined with presets."
                  },
                  "preset": {
                    "type": "string",
                    "enum": [
                      "score_monitoring",
                      "forensics_monitoring",
                      "forensics_disputes",
                      "forensics_watchlist",
                      "anomaly_monitoring"
                    ],
                    "description": "Optional preset that expands to a managed event set"
                  },
                  "presets": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "score_monitoring",
                        "forensics_monitoring",
                        "forensics_disputes",
                        "forensics_watchlist",
                        "anomaly_monitoring"
                      ]
                    },
                    "minItems": 1,
                    "description": "Optional preset bundle list. May be combined with explicit events."
                  },
                  "threshold_score": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 100,
                    "description": "Optional threshold for `score.threshold` alerts. Defaults to 60 when omitted."
                  },
                  "forensics_filter": {
                    "$ref": "#/components/schemas/WebhookForensicsFilter"
                  }
                }
              },
              "example": {
                "url": "https://example.com/webhooks/djd",
                "preset": "forensics_monitoring",
                "forensics_filter": {
                  "minimum_risk_level": "watch",
                  "reasons": [
                    "payment_fraud",
                    "impersonation"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWebhookCreatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Maximum webhooks per wallet exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "webhooks"
        ],
        "summary": "List public webhooks",
        "description": "Lists all webhooks belonging to the authenticated wallet. **Requires Bearer API key authentication.**",
        "operationId": "listPublicWebhooks",
        "security": [
          {
            "bearerApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook list for the authenticated wallet",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhooks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicWebhookListItem"
                      }
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/webhooks/{id}": {
      "delete": {
        "tags": [
          "webhooks"
        ],
        "summary": "Delete public webhook",
        "description": "Deactivates one webhook belonging to the authenticated wallet. **Requires Bearer API key authentication.**",
        "operationId": "deletePublicWebhook",
        "security": [
          {
            "bearerApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Webhook ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Webhook not found or already disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/monitor/presets": {
      "get": {
        "tags": [
          "monitoring"
        ],
        "summary": "List monitoring policy presets",
        "description": "Returns the managed score and DJD Forensics monitoring policies available for `/v1/monitor` subscriptions.",
        "operationId": "listMonitoringPresets",
        "responses": {
          "200": {
            "description": "Available monitoring policy presets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "presets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MonitoringPreset"
                      }
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/monitor": {
      "post": {
        "tags": [
          "monitoring"
        ],
        "summary": "Create monitoring subscription",
        "description": "Creates a managed monitoring subscription for a target wallet and provisions the underlying webhook delivery automatically. Policies can target any wallet; delivery is sent to your HTTPS endpoint. `score_monitoring` supports `threshold_score`. Forensics policies support `forensics_filter`. `anomaly_monitoring` delivers score-drop, score-spike, balance-freefall, and sybil-flag alerts. **Requires Bearer API key authentication.**",
        "operationId": "createMonitoringSubscription",
        "security": [
          {
            "bearerApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url",
                  "policy_type"
                ],
                "properties": {
                  "target_wallet": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{40}$",
                    "description": "Wallet to monitor. Defaults to the authenticated wallet when omitted."
                  },
                  "policy_type": {
                    "type": "string",
                    "enum": [
                      "score_monitoring",
                      "forensics_monitoring",
                      "forensics_disputes",
                      "forensics_watchlist",
                      "anomaly_monitoring"
                    ],
                    "description": "Managed monitoring policy to provision."
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "HTTPS endpoint to receive monitoring webhook deliveries."
                  },
                  "threshold_score": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 100,
                    "description": "Optional score threshold for `score_monitoring`. Defaults to 60 when omitted."
                  },
                  "forensics_filter": {
                    "$ref": "#/components/schemas/WebhookForensicsFilter"
                  }
                }
              },
              "example": {
                "target_wallet": "0x3e4ef1f774857c69e33dddc471e110c7ac7bb528",
                "policy_type": "forensics_monitoring",
                "url": "https://example.com/monitoring/djd",
                "forensics_filter": {
                  "minimum_risk_level": "elevated",
                  "reasons": [
                    "payment_fraud"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Monitoring subscription created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitoringSubscriptionCreatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Maximum monitoring subscriptions per subscriber exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "monitoring"
        ],
        "summary": "List monitoring subscriptions",
        "description": "Lists all managed monitoring subscriptions owned by the authenticated API-key subscriber. **Requires Bearer API key authentication.**",
        "operationId": "listMonitoringSubscriptions",
        "security": [
          {
            "bearerApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Monitoring subscription list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subscriptions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MonitoringSubscription"
                      }
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/monitor/{id}": {
      "delete": {
        "tags": [
          "monitoring"
        ],
        "summary": "Delete monitoring subscription",
        "description": "Deactivates a managed monitoring subscription and its underlying webhook delivery configuration. **Requires Bearer API key authentication.**",
        "operationId": "deleteMonitoringSubscription",
        "security": [
          {
            "bearerApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Monitoring subscription ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monitoring subscription deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Monitoring subscription not found or already disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/score/history": {
      "get": {
        "tags": [
          "history"
        ],
        "summary": "Historical score data",
        "description": "Returns paginated score history with trend analysis for a wallet. Supports date-range filtering and configurable result limits. **Requires x402 payment of $0.15 USDC on Base or Bearer API key.**",
        "operationId": "getScoreHistory",
        "security": [
          {
            "x402": []
          },
          {
            "bearerApiKey": []
          }
        ],
        "x-x402": {
          "price": "$0.15",
          "network": "base"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/wallet"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of records to return (1-100, default 50)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Return records after this ISO 8601 date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Return records before this ISO 8601 date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Score history returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScoreHistoryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "description": "No score history found for this wallet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/forensics/summary": {
      "get": {
        "tags": [
          "forensics"
        ],
        "summary": "DJD Forensics overview",
        "description": "Returns a wallet-level forensics summary: active fraud report counts, total penalties, reporter breadth, dispute status, and the most recent incidents. **Requires x402 payment of $0.10 USDC on Base or Bearer API key.**",
        "operationId": "getForensicsOverview",
        "security": [
          {
            "x402": []
          },
          {
            "bearerApiKey": []
          }
        ],
        "x-x402": {
          "price": "$0.10",
          "network": "base"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/wallet"
          }
        ],
        "responses": {
          "200": {
            "description": "Forensics overview returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForensicsOverviewResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/forensics/dispute": {
      "post": {
        "tags": [
          "forensics"
        ],
        "summary": "Open a fraud-report dispute",
        "description": "Allows the reported wallet to open a dispute against a specific fraud report. The disputing wallet is derived from the x402 payment or API key identity and must match the report target wallet. **Requires x402 payment of $0.05 USDC on Base or Bearer API key.**",
        "operationId": "createForensicsDispute",
        "security": [
          {
            "x402": []
          },
          {
            "bearerApiKey": []
          }
        ],
        "x-x402": {
          "price": "$0.05",
          "network": "base"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FraudDisputeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Fraud dispute opened",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudDisputeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "description": "Fraud report not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Dispute already exists or wallet is not authorized to dispute this report",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/forensics/feed": {
      "get": {
        "tags": [
          "forensics"
        ],
        "summary": "DJD Forensics incident feed",
        "description": "Returns recent fraud-report incidents across the corpus. Supports reason and date-range filtering plus configurable result limits. **Requires x402 payment of $0.30 USDC on Base or Bearer API key.**",
        "operationId": "getForensicsFeed",
        "security": [
          {
            "x402": []
          },
          {
            "bearerApiKey": []
          }
        ],
        "x-x402": {
          "price": "$0.30",
          "network": "base"
        },
        "parameters": [
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "description": "Optional report reason filter",
            "schema": {
              "type": "string",
              "enum": [
                "failed_delivery",
                "payment_fraud",
                "impersonation",
                "malicious_behavior",
                "other"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of incidents to return (1-100, default 50)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Return incidents after this ISO 8601 date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Return incidents before this ISO 8601 date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Forensics incident feed returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForensicsFeedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/forensics/watchlist": {
      "get": {
        "tags": [
          "forensics"
        ],
        "summary": "DJD Forensics watchlist",
        "description": "Returns a ranked watchlist of the most-reported wallets across the corpus. Supports date-range filtering and configurable result limits. **Requires x402 payment of $0.25 USDC on Base or Bearer API key.**",
        "operationId": "getForensicsWatchlist",
        "security": [
          {
            "x402": []
          },
          {
            "bearerApiKey": []
          }
        ],
        "x-x402": {
          "price": "$0.25",
          "network": "base"
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of wallets to return (1-100, default 50)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Return incidents after this ISO 8601 date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Return incidents before this ISO 8601 date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Forensics watchlist returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForensicsWatchlistResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/forensics/reports": {
      "get": {
        "tags": [
          "forensics"
        ],
        "summary": "DJD Forensics incident feed",
        "description": "Returns fraud-report incidents for a wallet with full report details. Supports date-range filtering and configurable result limits. **Requires x402 payment of $0.15 USDC on Base or Bearer API key.**",
        "operationId": "getForensicsReports",
        "security": [
          {
            "x402": []
          },
          {
            "bearerApiKey": []
          }
        ],
        "x-x402": {
          "price": "$0.15",
          "network": "base"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/wallet"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of reports to return (1-100, default 50)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Return reports after this ISO 8601 date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Return reports before this ISO 8601 date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Forensics report feed returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForensicsReportsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/forensics/timeline": {
      "get": {
        "tags": [
          "forensics"
        ],
        "summary": "DJD Forensics merged timeline",
        "description": "Returns a merged timeline of score snapshots and fraud incidents for a wallet. Supports date-range filtering and configurable result limits. **Requires x402 payment of $0.20 USDC on Base or Bearer API key.**",
        "operationId": "getForensicsTimeline",
        "security": [
          {
            "x402": []
          },
          {
            "bearerApiKey": []
          }
        ],
        "x-x402": {
          "price": "$0.20",
          "network": "base"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/wallet"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of combined events to return (1-100, default 50)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Return events after this ISO 8601 date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Return events before this ISO 8601 date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Merged forensics timeline returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForensicsTimelineResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "description": "No forensics data found for this wallet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/certification/apply": {
      "post": {
        "tags": [
          "certification"
        ],
        "summary": "Apply for transactional certification",
        "description": "Legacy DJD Certify purchase path for the default transactional tier. Requirements: active (non-expired) score, composite score >= 75, and a registered agent. Certification is valid for 1 year and requires x402 payment of $200 USDC on Base.",
        "operationId": "applyCertificationTransactionalLegacy",
        "security": [
          {
            "x402": []
          }
        ],
        "x-x402": {
          "price": "$200.00",
          "network": "base"
        },
        "responses": {
          "201": {
            "description": "Certification granted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificationGrantedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "409": {
            "description": "Wallet already has an active certification",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/certification/readiness": {
      "get": {
        "tags": [
          "certification"
        ],
        "summary": "Check certification readiness",
        "description": "Returns whether a wallet can apply for a requested DJD Certify tier right now, which requirements are met, what is blocking it, and the next recommended actions.",
        "operationId": "getCertificationReadiness",
        "parameters": [
          {
            "name": "wallet",
            "in": "query",
            "required": true,
            "description": "Ethereum wallet address",
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{40}$"
            }
          },
          {
            "name": "tier",
            "in": "query",
            "required": false,
            "description": "Requested certification tier",
            "schema": {
              "type": "string",
              "enum": [
                "operational",
                "transactional",
                "autonomous"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Certification readiness returned",
            "content": {
              "application/json": {
                "schema": {
[...]
