{
  "openapi": "3.1.0",
  "info": {
    "title": "DJD Agent Score API",
    "description": "Reputation scoring for autonomous AI agent wallets on Base. Scores are derived from on-chain USDC behavioral data and optional self-registration. Paid endpoints require an x402 USDC micropayment on Base; free endpoints require no authentication. Interactive docs available at /docs.",
    "version": "1.0.0",
    "contact": { "email": "feedback@djdagentscore.xyz" },
    "license": { "name": "Proprietary" }
  },
  "servers": [
    { "url": "https://djdagentscore.xyz", "description": "Production" }
  ],
  "tags": [
    { "name": "score",         "description": "Score lookup and computation" },
    { "name": "register",      "description": "Agent self-registration" },
    { "name": "report",        "description": "Fraud reporting" },
    { "name": "data",          "description": "Aggregated data endpoints" },
    { "name": "system",        "description": "Health and metadata" },
    { "name": "api-keys",      "description": "API key management (admin)" },
    { "name": "webhooks",      "description": "Webhook subscriptions (admin and public)" },
    { "name": "history",       "description": "Historical score data (paid)" },
    { "name": "certification", "description": "Certified Agent Badge (paid, admin, and public)" }
  ],
  "paths": {
    "/v1/score/basic": {
      "get": {
        "tags": ["score"],
        "summary": "Basic score lookup",
        "description": "Returns composite score, tier, confidence, recommendation, and model version. Free tier: 10 requests/day per IP. No payment required.",
        "operationId": "getBasicScore",
        "parameters": [
          { "$ref": "#/components/parameters/wallet" }
        ],
        "responses": {
          "200": {
            "description": "Score returned (may include stale:true if RPC was unavailable)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BasicScoreResponse" },
                "example": {
                  "wallet": "0x3e4ef1f774857c69e33dddc471e110c7ac7bb528",
                  "score": 13,
                  "tier": "Unverified",
                  "confidence": 0.1,
                  "recommendation": "insufficient_history",
                  "modelVersion": "1.0.0",
                  "lastUpdated": "2026-02-21T20:00:00.000Z",
                  "computedAt": "2026-02-21T20:00:00.000Z",
                  "scoreFreshness": 0.85
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "429": { "$ref": "#/components/responses/FreeTierExhausted" }
        }
      }
    },
    "/v1/score/full": {
      "get": {
        "tags": ["score"],
        "summary": "Full score with dimension breakdown",
        "description": "Returns the composite score plus all four dimension scores (reliability, viability, identity, capability), integrity flags, data availability assessment, and improvement path. **Requires x402 payment of $0.10 USDC on Base.**",
        "operationId": "getFullScore",
        "parameters": [
          { "$ref": "#/components/parameters/wallet" }
        ],
        "security": [{ "x402": [] }],
        "x-x402": { "price": "$0.10", "network": "base" },
        "responses": {
          "200": {
            "description": "Full score returned",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FullScoreResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/v1/score/refresh": {
      "post": {
        "tags": ["score"],
        "summary": "Force live recalculation",
        "description": "Bypasses the cache and triggers a fresh on-chain scan. Returns the full score response. **Requires x402 payment of $0.25 USDC on Base.** Prefer POST; GET is accepted for backward compatibility but deprecated.",
        "operationId": "refreshScore",
        "parameters": [
          { "$ref": "#/components/parameters/wallet" }
        ],
        "security": [{ "x402": [] }],
        "x-x402": { "price": "$0.25", "network": "base" },
        "responses": {
          "200": {
            "description": "Freshly computed full score",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FullScoreResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      },
      "get": {
        "tags": ["score"],
        "summary": "Force live recalculation (deprecated — use POST)",
        "description": "**Deprecated.** Use `POST /v1/score/refresh` instead. This GET alias is kept for backward compatibility only.",
        "operationId": "refreshScoreDeprecated",
        "deprecated": true,
        "parameters": [
          { "$ref": "#/components/parameters/wallet" }
        ],
        "security": [{ "x402": [] }],
        "x-x402": { "price": "$0.25", "network": "base" },
        "responses": {
          "200": {
            "description": "Freshly computed full score",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FullScoreResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/v1/score/compute": {
      "post": {
        "tags": ["score"],
        "summary": "Queue async score computation",
        "description": "Submits a background full-scan scoring job and returns a `jobId` immediately (HTTP 202). Use `GET /v1/score/job/{jobId}` to poll for completion. Free — no payment required. Useful when the caller cannot wait 20-150s for the synchronous endpoints.",
        "operationId": "computeScore",
        "parameters": [
          {
            "name": "wallet",
            "in": "query",
            "required": false,
            "description": "Wallet address (deprecated — prefer JSON body)",
            "deprecated": true,
            "schema": { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$" }
          }
        ],
        "requestBody": {
          "description": "Preferred: pass wallet in JSON body",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["wallet"],
                "properties": {
                  "wallet": { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$", "description": "Base wallet address" }
                }
              },
              "example": { "wallet": "0x3e4ef1f774857c69e33dddc471e110c7ac7bb528" }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId":    { "type": "string", "format": "uuid" },
                    "status":   { "type": "string", "enum": ["pending"] },
                    "wallet":   { "type": "string" },
                    "pollUrl":  { "type": "string", "description": "Relative URL to poll for job status" }
                  }
                },
                "example": {
                  "jobId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                  "status": "pending",
                  "wallet": "0x3e4ef1f774857c69e33dddc471e110c7ac7bb528",
                  "pollUrl": "/v1/score/job/a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      }
    },
    "/v1/score/job/{jobId}": {
      "get": {
        "tags": ["score"],
        "summary": "Poll async scoring job",
        "description": "Returns the current status of a scoring job submitted via `POST /v1/score/compute`. Jobs expire after 10 minutes.",
        "operationId": "getJobStatus",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status (pending, complete, or error)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId":   { "type": "string" },
                    "status":  { "type": "string", "enum": ["pending", "complete", "error"] },
                    "wallet":  { "type": "string" },
                    "result":  { "$ref": "#/components/schemas/FullScoreResponse", "description": "Present when status=complete" },
                    "error":   { "type": "string", "description": "Present when status=error" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Job not found or expired",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/v1/agent/register": {
      "post": {
        "tags": ["register"],
        "summary": "Register an agent wallet",
        "description": "Voluntarily register a wallet with optional metadata. Adds +15 identity points to the score and marks the wallet as registered on the leaderboard. GitHub URL is asynchronously verified against the GitHub API. Free — no payment required.",
        "operationId": "registerAgent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RegisterBody" },
              "example": {
                "wallet": "0x3e4ef1f774857c69e33dddc471e110c7ac7bb528",
                "name": "DJD Score API",
                "description": "Reputation scoring for AI agents",
                "github_url": "https://github.com/owner/repo",
                "website_url": "https://djdagentscore.xyz"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "First-time registration",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RegisterResponse" } } }
          },
          "200": {
            "description": "Updated existing registration",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RegisterResponse" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      },
      "get": {
        "tags": ["register"],
        "summary": "Look up agent registration",
        "description": "Returns registration metadata for a wallet. Free — no payment required.",
        "operationId": "getRegistration",
        "parameters": [
          { "$ref": "#/components/parameters/wallet" }
        ],
        "responses": {
          "200": {
            "description": "Registration found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RegisterResponse" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "404": { "description": "Wallet not registered", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/v1/report": {
      "post": {
        "tags": ["report"],
        "summary": "Submit a fraud report",
        "description": "Submit a fraud or misconduct report against a wallet. Verified reports reduce the target wallet's composite score by up to 25 points. **Requires x402 payment of $0.02 USDC on Base.**",
        "operationId": "submitReport",
        "security": [{ "x402": [] }],
        "x-x402": { "price": "$0.02", "network": "base" },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["target", "reporter", "reason", "details"],
                "properties": {
                  "target":   { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$", "description": "Wallet being reported" },
                  "reporter": { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$", "description": "Wallet submitting the report (must differ from target)" },
                  "reason":   { "type": "string", "enum": ["failed_delivery", "payment_fraud", "impersonation", "malicious_behavior", "other"], "description": "Category of misconduct" },
                  "details":  { "type": "string", "maxLength": 1000, "description": "Supporting details and evidence (required, max 1000 chars)" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Report submitted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ReportResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/v1/data/fraud/blacklist": {
      "get": {
        "tags": ["data"],
        "summary": "Fraud report check",
        "description": "Check whether a wallet has active fraud reports filed against it. Returns the count and most recent reports. **Requires x402 payment of $0.05 USDC on Base.**",
        "operationId": "getBlacklist",
        "parameters": [
          { "$ref": "#/components/parameters/wallet" }
        ],
        "security": [{ "x402": [] }],
        "x-x402": { "price": "$0.05", "network": "base" },
        "responses": {
          "200": {
            "description": "Blacklist status returned",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BlacklistResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/v1/leaderboard": {
      "get": {
        "tags": ["data"],
        "summary": "Leaderboard",
        "description": "Returns the top 50 wallets by composite score. Registered wallets are sorted first. Free — no payment required.",
        "operationId": "getLeaderboard",
        "responses": {
          "200": {
            "description": "Leaderboard returned",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LeaderboardResponse" }
              }
            }
          }
        }
      }
    },
    "/v1/badge/{wallet}.svg": {
      "get": {
        "tags": ["data"],
        "summary": "SVG score badge",
        "description": "Returns an embeddable shields.io-style SVG badge showing the wallet's current score and tier. Cached for 10 minutes. Free — no payment required.",
        "operationId": "getBadge",
        "parameters": [
          {
            "name": "wallet",
            "in": "path",
            "required": true,
            "description": "Full 40-character hex wallet address (without .svg extension)",
            "schema": { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "SVG badge image",
            "content": { "image/svg+xml": { "schema": { "type": "string" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      }
    },
    "/health": {
      "get": {
        "tags": ["system"],
        "summary": "Health check",
        "description": "Returns system status, database statistics, indexer state, and background job stats.",
        "operationId": "getHealth",
        "responses": {
          "200": { "description": "System healthy" }
        }
      }
    },
    "/docs": {
      "get": {
        "tags": ["system"],
        "summary": "Interactive API documentation",
        "description": "Serves a Swagger UI interface for exploring and testing the API interactively. Free — no payment required.",
        "operationId": "getDocs",
        "responses": {
          "200": { "description": "Swagger UI HTML page", "content": { "text/html": { "schema": { "type": "string" } } } }
        }
      }
    },
    "/v1/data/economy": {
      "get": {
        "tags": ["data"],
        "summary": "Ecosystem economy metrics",
        "description": "Returns aggregated ecosystem health metrics: unique wallets scored, total queries, revenue, average scores, and more. Free — no payment required.",
        "operationId": "getEconomyMetrics",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": false,
            "description": "Aggregation period (default: daily)",
            "schema": { "type": "string", "enum": ["daily", "weekly", "monthly"], "default": "daily" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of periods to return (max 90, default 30)",
            "schema": { "type": "integer", "minimum": 1, "maximum": 90, "default": 30 }
          }
        ],
        "responses": {
          "200": {
            "description": "Economy metrics returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "period": { "type": "string" },
                    "count": { "type": "integer" },
                    "metrics": { "type": "array", "items": { "type": "object" } }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      }
    },
    "/v1/score/batch": {
      "post": {
        "tags": ["score"],
        "summary": "Batch score lookup",
        "description": "Score up to 20 wallets in a single request. Returns basic score data for each wallet. **Requires x402 payment of $0.50 USDC on Base.**",
        "operationId": "batchScore",
        "security": [{ "x402": [] }],
        "x-x402": { "price": "$0.50", "network": "base" },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["wallets"],
                "properties": {
                  "wallets": {
                    "type": "array",
                    "items": { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$" },
                    "minItems": 2,
                    "maxItems": 20,
                    "description": "Array of wallet addresses to score"
                  }
                }
              },
              "example": {
                "wallets": [
                  "0x3e4ef1f774857c69e33dddc471e110c7ac7bb528",
                  "0x1234567890123456789012345678901234567890"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch scores returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": { "type": "array", "items": { "$ref": "#/components/schemas/BasicScoreResponse" } },
                    "count": { "type": "integer" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/metrics": {
      "get": {
        "tags": ["system"],
        "summary": "Prometheus metrics",
        "description": "Returns Prometheus-compatible metrics in text exposition format. Includes HTTP request counters, database gauges, and process metrics. Free — no payment required.",
        "operationId": "getMetrics",
        "responses": {
          "200": {
            "description": "Prometheus text metrics",
            "content": { "text/plain": { "schema": { "type": "string" } } }
          }
        }
      }
    },

    "/admin/api-keys": {
      "post": {
        "tags": ["api-keys"],
        "summary": "Create an API key",
        "description": "Creates a new API key for a wallet. The raw key is returned only once on creation — store it securely. **Requires admin authentication (X-ADMIN-KEY header).**",
        "operationId": "createApiKey",
        "security": [{ "adminKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["wallet"],
                "properties": {
                  "wallet":        { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$", "description": "Wallet address to associate with the key" },
                  "name":          { "type": "string", "nullable": true, "description": "Optional human-readable name for the key" },
                  "tier":          { "type": "string", "enum": ["standard", "premium"], "default": "standard", "description": "API key tier" },
                  "monthly_limit": { "type": "integer", "default": 10000, "description": "Monthly request limit" }
                }
              },
              "example": {
                "wallet": "0x3e4ef1f774857c69e33dddc471e110c7ac7bb528",
                "name": "Production key",
                "tier": "standard",
                "monthly_limit": 10000
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiKeyCreatedResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "get": {
        "tags": ["api-keys"],
        "summary": "List all API keys",
        "description": "Returns all API keys with usage stats. Raw keys are never returned — only prefixes. **Requires admin authentication (X-ADMIN-KEY header).**",
        "operationId": "listApiKeys",
        "security": [{ "adminKey": [] }],
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ApiKeyListItem" }
                    },
                    "count": { "type": "integer" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/admin/api-keys/{id}": {
      "delete": {
        "tags": ["api-keys"],
        "summary": "Revoke an API key",
        "description": "Soft-deletes an API key by marking it as revoked. The key will no longer authenticate requests. **Requires admin authentication (X-ADMIN-KEY header).**",
        "operationId": "revokeApiKey",
        "security": [{ "adminKey": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "API key ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "API key revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "message": { "type": "string", "example": "API key revoked" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": {
            "description": "API key not found or already revoked",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },

    "/admin/webhooks": {
      "post": {
        "tags": ["webhooks"],
        "summary": "Create webhook (admin)",
        "description": "Registers a new webhook subscription for a wallet. The webhook secret is returned only once — store it securely to verify signatures. **Requires admin authentication (X-ADMIN-KEY header).**",
        "operationId": "createAdminWebhook",
        "security": [{ "adminKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["wallet", "url", "events"],
                "properties": {
                  "wallet": { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$", "description": "Wallet to monitor" },
                  "url":    { "type": "string", "format": "uri", "description": "HTTPS endpoint to receive webhook payloads" },
                  "events": {
                    "type": "array",
                    "items": { "type": "string", "enum": ["score.updated", "score.expired", "fraud.reported", "agent.registered", "score.threshold"] },
                    "minItems": 1,
                    "description": "Events to subscribe to"
                  },
                  "tier":   { "type": "string", "enum": ["basic", "premium"], "default": "basic", "description": "Webhook tier" }
                }
              },
              "example": {
                "wallet": "0x3e4ef1f774857c69e33dddc471e110c7ac7bb528",
                "url": "https://example.com/webhooks/djd",
                "events": ["score.updated", "fraud.reported"],
                "tier": "basic"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WebhookCreatedResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "get": {
        "tags": ["webhooks"],
        "summary": "List webhooks (admin)",
        "description": "Returns all registered webhooks with delivery stats. **Requires admin authentication (X-ADMIN-KEY header).**",
        "operationId": "listAdminWebhooks",
        "security": [{ "adminKey": [] }],
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhooks": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/WebhookListItem" }
                    },
                    "count": { "type": "integer" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/admin/webhooks/{id}": {
      "delete": {
        "tags": ["webhooks"],
        "summary": "Delete webhook (admin)",
        "description": "Deactivates a webhook subscription. **Requires admin authentication (X-ADMIN-KEY header).**",
        "operationId": "deleteAdminWebhook",
        "security": [{ "adminKey": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Webhook ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deactivated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "message": { "type": "string", "example": "Webhook deactivated" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": {
            "description": "Webhook not found or already disabled",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/admin/webhooks/{id}/test": {
      "post": {
        "tags": ["webhooks"],
        "summary": "Test webhook (admin)",
        "description": "Sends a test event payload to the webhook endpoint to verify connectivity. **Requires admin authentication (X-ADMIN-KEY header).**",
        "operationId": "testAdminWebhook",
        "security": [{ "adminKey": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Webhook ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Test delivery result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success":     { "type": "boolean", "description": "Whether the test delivery returned a 2xx status" },
                    "status_code": { "type": "integer", "nullable": true, "description": "HTTP status code from the webhook endpoint" },
                    "message":     { "type": "string" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": {
            "description": "Webhook not found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },

    "/v1/webhooks/subscribe": {
      "post": {
        "tags": ["webhooks"],
        "summary": "Public webhook subscription",
        "description": "Self-service webhook registration for API key holders. Subscribe to events for your wallet. Limited to 10 active webhooks per wallet. **Requires Bearer API key authentication.**",
        "operationId": "publicWebhookSubscribe",
        "security": [{ "bearerApiKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["url", "events"],
                "properties": {
                  "url": { "type": "string", "format": "uri", "description": "HTTPS endpoint to receive webhook payloads" },
                  "events": {
                    "type": "array",
                    "items": { "type": "string", "enum": ["score.updated", "score.expired", "fraud.reported", "agent.registered", "score.threshold"] },
                    "minItems": 1,
                    "description": "Events to subscribe to"
                  }
                }
              },
              "example": {
                "url": "https://example.com/webhooks/djd",
                "events": ["score.updated"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook subscription created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id":      { "type": "integer" },
                    "url":     { "type": "string" },
                    "secret":  { "type": "string", "description": "HMAC secret for verifying signatures — store securely" },
                    "events":  { "type": "array", "items": { "type": "string" } },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": {
            "description": "Maximum webhooks per wallet exceeded",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/v1/webhooks/status": {
      "get": {
        "tags": ["webhooks"],
        "summary": "Check webhook status",
        "description": "Lists all webhooks belonging to the authenticated wallet. **Requires Bearer API key authentication.**",
        "operationId": "publicWebhookStatus",
        "security": [{ "bearerApiKey": [] }],
        "responses": {
          "200": {
            "description": "Webhook list for the authenticated wallet",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhooks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id":               { "type": "integer" },
                          "url":              { "type": "string" },
                          "events":           { "type": "array", "items": { "type": "string" } },
                          "tier":             { "type": "string" },
                          "is_active":        { "type": "integer", "enum": [0, 1] },
                          "created_at":       { "type": "string", "format": "date-time" },
                          "failure_count":    { "type": "integer" },
                          "last_delivery_at": { "type": "string", "format": "date-time", "nullable": true }
                        }
                      }
                    },
                    "count": { "type": "integer" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },

    "/v1/score/history": {
      "get": {
        "tags": ["history"],
        "summary": "Historical score data",
        "description": "Returns paginated score history with trend analysis for a wallet. Supports date-range filtering and configurable result limits. **Requires x402 payment of $0.15 USDC on Base or Bearer API key.**",
        "operationId": "getScoreHistory",
        "security": [{ "x402": [] }, { "bearerApiKey": [] }],
        "x-x402": { "price": "$0.15", "network": "base" },
        "parameters": [
          { "$ref": "#/components/parameters/wallet" },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of records to return (1-100, default 50)",
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 50 }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Return records after this ISO 8601 date (YYYY-MM-DD)",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Return records before this ISO 8601 date (YYYY-MM-DD)",
            "schema": { "type": "string", "format": "date" }
          }
        ],
        "responses": {
          "200": {
            "description": "Score history returned",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ScoreHistoryResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": {
            "description": "No score history found for this wallet",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },

    "/v1/certification/apply": {
      "post": {
        "tags": ["certification"],
        "summary": "Apply for certification",
        "description": "Apply for Certified Agent Badge. Requirements: active (non-expired) score, composite score >= 75, and a registered agent. Certification is valid for 1 year. **Requires x402 payment of $99 USDC on Base or Bearer API key.**",
        "operationId": "applyCertification",
        "security": [{ "x402": [] }, { "bearerApiKey": [] }],
        "x-x402": { "price": "$99.00", "network": "base" },
        "responses": {
          "201": {
            "description": "Certification granted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CertificationGrantedResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "409": {
            "description": "Wallet already has an active certification",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/v1/certification/{wallet}": {
      "get": {
        "tags": ["certification"],
        "summary": "Check certification status",
        "description": "Returns the active certification details for a wallet. Free — no payment required.",
        "operationId": "getCertificationStatus",
        "parameters": [
          {
            "name": "wallet",
            "in": "path",
            "required": true,
            "description": "Ethereum wallet address",
            "schema": { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Active certification found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CertificationStatusResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "404": {
            "description": "No active certification found for this wallet",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/v1/certification/badge/{wallet}": {
      "get": {
        "tags": ["certification"],
        "summary": "SVG certification badge",
        "description": "Returns an embeddable shields.io-style SVG badge showing the wallet's certification status. Green if certified, gray if not. Cached for 1 hour. Free — no payment required.",
        "operationId": "getCertificationBadge",
        "parameters": [
          {
            "name": "wallet",
            "in": "path",
            "required": true,
            "description": "Ethereum wallet address",
            "schema": { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "SVG badge image",
            "content": { "image/svg+xml": { "schema": { "type": "string" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      }
    },
    "/v1/certification/admin/all": {
      "get": {
        "tags": ["certification"],
        "summary": "List all certifications (admin)",
        "description": "Returns all certifications including revoked ones. **Requires admin authentication (X-ADMIN-KEY header).**",
        "operationId": "listAllCertifications",
        "security": [{ "adminKey": [] }],
        "responses": {
          "200": {
            "description": "All certifications returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "certifications": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/CertificationAdminItem" }
                    },
                    "count": { "type": "integer" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/certification/admin/{id}/revoke": {
      "post": {
        "tags": ["certification"],
        "summary": "Revoke certification (admin)",
        "description": "Revokes an active certification. Optionally provide a reason. **Requires admin authentication (X-ADMIN-KEY header).**",
        "operationId": "revokeCertification",
        "security": [{ "adminKey": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Certification ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": { "type": "string", "description": "Reason for revocation (defaults to 'Administrative revocation')" }
                }
              },
              "example": { "reason": "Score dropped below threshold" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Certification revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "message": { "type": "string", "example": "Certification revoked" },
                    "id":      { "type": "integer" },
                    "reason":  { "type": "string" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": {
            "description": "Certification not found or already revoked",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/v1/certification/admin/revenue": {
      "get": {
        "tags": ["certification"],
        "summary": "Revenue summary (admin)",
        "description": "Returns certification revenue summary including total, active, and revoked counts, gross and net revenue, and monthly breakdown. **Requires admin authentication (X-ADMIN-KEY header).**",
        "operationId": "getCertificationRevenue",
        "security": [{ "adminKey": [] }],
        "responses": {
          "200": {
            "description": "Revenue summary returned",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CertificationRevenueResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "wallet": {
        "name": "wallet",
        "in": "query",
        "required": true,
        "description": "Base wallet address (EIP-55 checksummed or lowercase)",
        "schema": { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$" },
        "example": "0x3e4ef1f774857c69e33dddc471e110c7ac7bb528"
      },
      "X-Request-ID": {
        "name": "X-Request-ID",
        "in": "header",
        "required": false,
        "description": "Client-provided request ID for tracing. If omitted, the server generates a UUID v4. Returned in the X-Request-ID response header.",
        "schema": { "type": "string", "format": "uuid" }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "description": "Machine-readable error code" },
              "message": { "type": "string", "description": "Human-readable error message" },
              "details": { "type": "object", "description": "Optional additional context", "additionalProperties": true }
            },
            "required": ["code", "message"]
          }
        }
      },
      "BasicScoreResponse": {
        "type": "object",
        "properties": {
          "wallet":         { "type": "string" },
          "score":          { "type": "integer", "minimum": 0, "maximum": 100 },
          "tier":           { "type": "string", "enum": ["Unverified", "Emerging", "Established", "Trusted", "Elite"] },
          "confidence":     { "type": "number", "minimum": 0, "maximum": 1 },
          "recommendation": { "type": "string", "enum": ["proceed", "proceed_with_caution", "insufficient_history", "high_risk", "flagged_for_review", "rpc_unavailable"] },
          "modelVersion":   { "type": "string" },
          "lastUpdated":    { "type": "string", "format": "date-time" },
          "computedAt":     { "type": "string", "format": "date-time", "description": "ISO-8601 timestamp of when the score was computed (may differ from lastUpdated when served from cache)" },
          "scoreFreshness": { "type": "number", "minimum": 0, "maximum": 1, "description": "Freshness factor: 1 = just computed, decays linearly toward 0 at cache expiry. Consumers can use this to weight trust." },
          "stale":          { "type": "boolean", "description": "True when RPC was unavailable and a cached result was returned" }
        }
      },
      "FullScoreResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/BasicScoreResponse" },
          {
            "type": "object",
            "properties": {
              "sybilFlag":        { "type": "boolean" },
              "gamingIndicators": { "type": "array", "items": { "type": "string" } },
              "dimensions": {
                "type": "object",
                "properties": {
                  "reliability":  { "$ref": "#/components/schemas/Dimension" },
                  "viability":    { "$ref": "#/components/schemas/Dimension" },
                  "identity":     { "$ref": "#/components/schemas/Dimension" },
                  "capability":   { "$ref": "#/components/schemas/Dimension" }
                }
              },
              "dataAvailability": {
                "type": "object",
                "properties": {
                  "transactionHistory": { "type": "string" },
                  "walletAge":          { "type": "string" },
                  "economicData":       { "type": "string" },
                  "identityData":       { "type": "string" },
                  "communityData":      { "type": "string" }
                }
              },
              "improvementPath": { "type": "array", "items": { "type": "string" } },
              "scoreHistory": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "score":          { "type": "integer" },
                    "calculatedAt":   { "type": "string", "format": "date-time" },
                    "modelVersion":   { "type": "string" }
                  }
                }
              }
            }
          }
        ]
      },
      "Dimension": {
        "type": "object",
        "properties": {
          "score": { "type": "integer", "minimum": 0, "maximum": 100 },
          "data":  { "type": "object" }
        }
      },
      "RegisterBody": {
        "type": "object",
        "required": ["wallet"],
        "properties": {
          "wallet":      { "type": "string", "description": "Wallet address to register" },
          "name":        { "type": "string", "maxLength": 100 },
          "description": { "type": "string", "maxLength": 500 },
          "github_url":  { "type": "string", "format": "uri", "maxLength": 200 },
          "website_url": { "type": "string", "format": "uri", "maxLength": 200 }
        }
      },
      "RegisterResponse": {
        "type": "object",
        "properties": {
          "wallet":          { "type": "string" },
          "status":          { "type": "string", "enum": ["registered", "updated"] },
          "registeredAt":    { "type": "string", "format": "date-time" },
          "name":            { "type": "string", "nullable": true },
          "description":     { "type": "string", "nullable": true },
          "github_url":      { "type": "string", "nullable": true },
          "website_url":     { "type": "string", "nullable": true },
          "github_verified": { "type": "boolean" },
          "github_stars":    { "type": "integer", "nullable": true },
          "github_pushed_at":{ "type": "string", "nullable": true }
        }
      },
      "LeaderboardResponse": {
        "type": "object",
        "properties": {
          "leaderboard": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "rank":          { "type": "integer" },
                "wallet":        { "type": "string" },
                "score":         { "type": "integer" },
                "tier":          { "type": "string" },
                "daysAlive":     { "type": "integer" },
                "isRegistered":  { "type": "boolean" },
                "githubVerified":{ "type": "boolean" }
              }
            }
          },
          "totalAgentsScored":     { "type": "integer" },
          "totalAgentsRegistered": { "type": "integer" },
          "lastUpdated":           { "type": "string", "format": "date-time" }
        }
      },
      "ReportResponse": {
        "type": "object",
        "properties": {
          "reportId":          { "type": "string", "format": "uuid" },
          "status":            { "type": "string", "enum": ["accepted"] },
          "targetCurrentScore":{ "type": "integer", "minimum": 0, "maximum": 100 },
          "penaltyApplied":    { "type": "integer" }
        }
      },
      "BlacklistResponse": {
        "type": "object",
        "properties": {
          "wallet":          { "type": "string" },
          "reported":        { "type": "boolean", "description": "True if the wallet has active fraud reports" },
          "reportCount":     { "type": "integer" },
          "mostRecentDate":  { "type": "string", "format": "date-time", "nullable": true },
          "reasons":         { "type": "array", "items": { "type": "string" }, "description": "Unique report reason categories" },
          "disputeStatus":   { "type": "string", "enum": ["none"], "description": "Currently always 'none' (dispute system not yet implemented)" }
        }
      },

      "ApiKeyCreatedResponse": {
        "type": "object",
        "properties": {
          "id":             { "type": "integer", "description": "Auto-incremented key ID" },
          "key":            { "type": "string", "description": "The raw API key (djd_live_...) — returned ONLY on creation" },
          "key_prefix":     { "type": "string", "description": "First 16 characters of the key for identification" },
          "wallet":         { "type": "string" },
          "name":           { "type": "string", "nullable": true },
          "tier":           { "type": "string" },
          "monthly_limit":  { "type": "integer" },
          "usage_reset_at": { "type": "string", "format": "date-time" },
          "message":        { "type": "string" }
        }
      },
      "ApiKeyListItem": {
        "type": "object",
        "properties": {
          "id":             { "type": "integer" },
          "key_prefix":     { "type": "string" },
          "wallet":         { "type": "string" },
          "name":           { "type": "string", "nullable": true },
          "tier":           { "type": "string" },
          "monthly_limit":  { "type": "integer" },
          "monthly_used":   { "type": "integer" },
          "usage_reset_at": { "type": "string", "format": "date-time" },
          "is_active":      { "type": "integer", "enum": [0, 1] },
          "created_at":     { "type": "string", "format": "date-time" },
          "last_used_at":   { "type": "string", "format": "date-time", "nullable": true },
          "revoked_at":     { "type": "string", "format": "date-time", "nullable": true }
        }
      },

      "WebhookCreatedResponse": {
        "type": "object",
        "properties": {
          "id":      { "type": "integer" },
          "wallet":  { "type": "string" },
          "url":     { "type": "string" },
          "secret":  { "type": "string", "description": "HMAC secret for verifying webhook signatures — returned ONLY on creation" },
          "events":  { "type": "array", "items": { "type": "string" } },
          "tier":    { "type": "string" },
          "message": { "type": "string" }
        }
      },
      "WebhookListItem": {
        "type": "object",
        "properties": {
          "id":               { "type": "integer" },
          "wallet":           { "type": "string" },
          "url":              { "type": "string" },
          "events":           { "type": "array", "items": { "type": "string" } },
          "tier":             { "type": "string" },
          "is_active":        { "type": "integer", "enum": [0, 1] },
          "created_at":       { "type": "string", "format": "date-time" },
          "failure_count":    { "type": "integer" },
          "last_delivery_at": { "type": "string", "format": "date-time", "nullable": true },
          "disabled_at":      { "type": "string", "format": "date-time", "nullable": true }
        }
      },

      "ScoreHistoryResponse": {
        "type": "object",
        "properties": {
          "wallet": { "type": "string" },
          "history": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "score":         { "type": "integer", "minimum": 0, "maximum": 100 },
                "confidence":    { "type": "number", "minimum": 0, "maximum": 1 },
                "model_version": { "type": "string" },
                "calculated_at": { "type": "string", "format": "date-time" }
              }
            }
          },
          "count":    { "type": "integer", "description": "Total records matching the query" },
          "returned": { "type": "integer", "description": "Number of records in this response" },
          "period": {
            "type": "object",
            "properties": {
              "from": { "type": "string", "format": "date-time", "nullable": true },
              "to":   { "type": "string", "format": "date-time", "nullable": true }
            }
          },
          "trend": {
            "type": "object",
            "nullable": true,
            "description": "Trend analysis (present when 2+ data points exist)",
            "properties": {
              "direction":  { "type": "string", "enum": ["improving", "declining", "stable"] },
              "change_pct": { "type": "number", "description": "Percentage change from earliest to latest score" },
              "avg_score":  { "type": "number" },
              "min_score":  { "type": "integer" },
              "max_score":  { "type": "integer" }
            }
          }
        }
      },

      "CertificationGrantedResponse": {
        "type": "object",
        "properties": {
          "id":                     { "type": "integer" },
          "wallet":                 { "type": "string" },
          "tier":                   { "type": "string" },
          "score_at_certification": { "type": "integer" },
          "granted_at":             { "type": "string", "format": "date-time" },
          "expires_at":             { "type": "string", "format": "date-time" },
          "is_active":              { "type": "boolean" },
          "message":                { "type": "string" }
        }
      },
      "CertificationStatusResponse": {
        "type": "object",
        "properties": {
          "wallet":                 { "type": "string" },
          "tier":                   { "type": "string" },
          "score_at_certification": { "type": "integer" },
          "granted_at":             { "type": "string", "format": "date-time" },
          "expires_at":             { "type": "string", "format": "date-time" },
          "is_valid":               { "type": "boolean" }
        }
      },
      "CertificationAdminItem": {
        "type": "object",
        "properties": {
          "id":                     { "type": "integer" },
          "wallet":                 { "type": "string" },
          "tier":                   { "type": "string" },
          "score_at_certification": { "type": "integer" },
          "granted_at":             { "type": "string", "format": "date-time" },
          "expires_at":             { "type": "string", "format": "date-time" },
          "is_active":              { "type": "boolean" },
          "revoked_at":             { "type": "string", "format": "date-time", "nullable": true },
          "revocation_reason":      { "type": "string", "nullable": true }
        }
      },
      "CertificationRevenueResponse": {
        "type": "object",
        "properties": {
          "total_certifications":   { "type": "integer" },
          "active_certifications":  { "type": "integer" },
          "revoked_certifications": { "type": "integer" },
          "gross_revenue_usd":      { "type": "number" },
          "net_revenue_usd":        { "type": "number" },
          "price_per_cert_usd":     { "type": "integer", "example": 99 },
          "by_month": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "month":            { "type": "string", "example": "2026-02" },
                "count":            { "type": "integer" },
                "revoked_count":    { "type": "integer" },
                "gross_revenue_usd":{ "type": "number" },
                "net_revenue_usd":  { "type": "number" }
              }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request parameters",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      },
      "PaymentRequired": {
        "description": "x402 payment required. The response includes a WWW-Authenticate header with payment details. Use an x402-compatible client to pay and retry.",
        "headers": {
          "WWW-Authenticate": { "schema": { "type": "string" } }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded (120 requests/hour per payer wallet on paid endpoints)",
        "headers": {
          "RateLimit-Limit": { "schema": { "type": "integer" }, "description": "Maximum requests per window" },
          "RateLimit-Remaining": { "schema": { "type": "integer" }, "description": "Requests remaining in current window" },
          "RateLimit-Reset": { "schema": { "type": "string", "format": "date-time" }, "description": "When the current window resets" },
          "Retry-After": { "schema": { "type": "integer" }, "description": "Seconds until rate limit resets" }
        },
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      },
      "Unauthorized": {
        "description": "Missing or invalid authentication credentials",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      },
      "FreeTierExhausted": {
        "description": "Free tier daily quota exhausted (10 requests/day). Upgrade to paid x402 for unlimited access.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" },
                "message": { "type": "string" },
                "upgrade": {
                  "type": "object",
                  "properties": {
                    "docs": { "type": "string" },
                    "pricing": { "type": "object" },
                    "protocol": { "type": "string" },
                    "network": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "x402": {
        "type": "http",
        "scheme": "x402",
        "description": "x402 micropayment protocol (EIP-3009 USDC transferWithAuthorization on Base). See https://www.x402.org for client libraries."
      },
      "adminKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-admin-key",
        "description": "Admin API key for management endpoints"
      },
      "bearerApiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key authentication (Bearer djd_live_...)"
      }
    }
  }
}
