{
  "openapi": "3.1.0",
  "info": {
    "title": "DJD Agent Score API",
    "description": "Reputation scoring for autonomous AI agent wallets on Base. Scores are derived from on-chain USDC behavioral data and optional self-registration. Paid endpoints require an x402 USDC micropayment on Base; free endpoints require no authentication.",
    "version": "1.0.0",
    "contact": { "email": "feedback@djdagentscore.xyz" },
    "license": { "name": "Proprietary" }
  },
  "servers": [
    { "url": "https://djdagentscore.xyz", "description": "Production" }
  ],
  "tags": [
    { "name": "score",    "description": "Score lookup and computation" },
    { "name": "register", "description": "Agent self-registration" },
    { "name": "report",   "description": "Fraud reporting" },
    { "name": "data",     "description": "Aggregated data endpoints" },
    { "name": "system",   "description": "Health and metadata" }
  ],
  "paths": {
    "/v1/score/basic": {
      "get": {
        "tags": ["score"],
        "summary": "Basic score lookup",
        "description": "Returns composite score, tier, confidence, recommendation, and model version. Free tier: 10 requests/day per IP. No payment required.",
        "operationId": "getBasicScore",
        "parameters": [
          { "$ref": "#/components/parameters/wallet" }
        ],
        "responses": {
          "200": {
            "description": "Score returned (may include stale:true if RPC was unavailable)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BasicScoreResponse" },
                "example": {
                  "wallet": "0x3e4ef1f774857c69e33dddc471e110c7ac7bb528",
                  "score": 13,
                  "tier": "Unverified",
                  "confidence": 0.1,
                  "recommendation": "insufficient_history",
                  "modelVersion": "1.0.0",
                  "lastUpdated": "2026-02-21T20:00:00.000Z",
                  "computedAt": "2026-02-21T20:00:00.000Z",
                  "scoreFreshness": 0.85
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/score/full": {
      "get": {
        "tags": ["score"],
        "summary": "Full score with dimension breakdown",
        "description": "Returns the composite score plus all four dimension scores (reliability, viability, identity, capability), integrity flags, data availability assessment, and improvement path. **Requires x402 payment of $0.10 USDC on Base.**",
        "operationId": "getFullScore",
        "parameters": [
          { "$ref": "#/components/parameters/wallet" }
        ],
        "security": [{ "x402": [] }],
        "x-x402": { "price": "$0.10", "network": "base" },
        "responses": {
          "200": {
            "description": "Full score returned",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FullScoreResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/score/refresh": {
      "post": {
        "tags": ["score"],
        "summary": "Force live recalculation",
        "description": "Bypasses the cache and triggers a fresh on-chain scan. Returns the full score response. **Requires x402 payment of $0.25 USDC on Base.** Prefer POST; GET is accepted for backward compatibility but deprecated.",
        "operationId": "refreshScore",
        "parameters": [
          { "$ref": "#/components/parameters/wallet" }
        ],
        "security": [{ "x402": [] }],
        "x-x402": { "price": "$0.25", "network": "base" },
        "responses": {
          "200": {
            "description": "Freshly computed full score",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FullScoreResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      },
      "get": {
        "tags": ["score"],
        "summary": "Force live recalculation (deprecated — use POST)",
        "description": "**Deprecated.** Use `POST /v1/score/refresh` instead. This GET alias is kept for backward compatibility only.",
        "operationId": "refreshScoreDeprecated",
        "deprecated": true,
        "parameters": [
          { "$ref": "#/components/parameters/wallet" }
        ],
        "security": [{ "x402": [] }],
        "x-x402": { "price": "$0.25", "network": "base" },
        "responses": {
          "200": {
            "description": "Freshly computed full score",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FullScoreResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/score/compute": {
      "post": {
        "tags": ["score"],
        "summary": "Queue async score computation",
        "description": "Submits a background full-scan scoring job and returns a `jobId` immediately (HTTP 202). Use `GET /v1/score/job/{jobId}` to poll for completion. Free — no payment required. Useful when the caller cannot wait 20-150s for the synchronous endpoints.",
        "operationId": "computeScore",
        "parameters": [
          {
            "name": "wallet",
            "in": "query",
            "required": false,
            "description": "Wallet address (deprecated — prefer JSON body)",
            "deprecated": true,
            "schema": { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$" }
          }
        ],
        "requestBody": {
          "description": "Preferred: pass wallet in JSON body",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["wallet"],
                "properties": {
                  "wallet": { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$", "description": "Base wallet address" }
                }
              },
              "example": { "wallet": "0x3e4ef1f774857c69e33dddc471e110c7ac7bb528" }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId":    { "type": "string", "format": "uuid" },
                    "status":   { "type": "string", "enum": ["pending"] },
                    "wallet":   { "type": "string" },
                    "pollUrl":  { "type": "string", "description": "Relative URL to poll for job status" }
                  }
                },
                "example": {
                  "jobId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                  "status": "pending",
                  "wallet": "0x3e4ef1f774857c69e33dddc471e110c7ac7bb528",
                  "pollUrl": "/v1/score/job/a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      }
    },
    "/v1/score/job/{jobId}": {
      "get": {
        "tags": ["score"],
        "summary": "Poll async scoring job",
        "description": "Returns the current status of a scoring job submitted via `POST /v1/score/compute`. Jobs expire after 10 minutes.",
        "operationId": "getJobStatus",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status (pending, complete, or error)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId":   { "type": "string" },
                    "status":  { "type": "string", "enum": ["pending", "complete", "error"] },
                    "wallet":  { "type": "string" },
                    "result":  { "$ref": "#/components/schemas/FullScoreResponse", "description": "Present when status=complete" },
                    "error":   { "type": "string", "description": "Present when status=error" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Job not found or expired",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/v1/agent/register": {
      "post": {
        "tags": ["register"],
        "summary": "Register an agent wallet",
        "description": "Voluntarily register a wallet with optional metadata. Adds +15 identity points to the score and marks the wallet as registered on the leaderboard. GitHub URL is asynchronously verified against the GitHub API. Free — no payment required.",
        "operationId": "registerAgent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RegisterBody" },
              "example": {
                "wallet": "0x3e4ef1f774857c69e33dddc471e110c7ac7bb528",
                "name": "DJD Score API",
                "description": "Reputation scoring for AI agents",
                "github_url": "https://github.com/owner/repo",
                "website_url": "https://djdagentscore.xyz"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "First-time registration",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RegisterResponse" } } }
          },
          "200": {
            "description": "Updated existing registration",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RegisterResponse" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      },
      "get": {
        "tags": ["register"],
        "summary": "Look up agent registration",
        "description": "Returns registration metadata for a wallet. Free — no payment required.",
        "operationId": "getRegistration",
        "parameters": [
          { "$ref": "#/components/parameters/wallet" }
        ],
        "responses": {
          "200": {
            "description": "Registration found",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RegisterResponse" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "404": { "description": "Wallet not registered", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/v1/report": {
      "post": {
        "tags": ["report"],
        "summary": "Submit a fraud report",
        "description": "Submit a fraud or misconduct report against a wallet. Verified reports reduce the target wallet's composite score by up to 25 points. **Requires x402 payment of $0.02 USDC on Base.**",
        "operationId": "submitReport",
        "security": [{ "x402": [] }],
        "x-x402": { "price": "$0.02", "network": "base" },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["target", "reporter", "reason", "details"],
                "properties": {
                  "target":   { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$", "description": "Wallet being reported" },
                  "reporter": { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$", "description": "Wallet submitting the report (must differ from target)" },
                  "reason":   { "type": "string", "enum": ["failed_delivery", "payment_fraud", "impersonation", "malicious_behavior", "other"], "description": "Category of misconduct" },
                  "details":  { "type": "string", "maxLength": 1000, "description": "Supporting details and evidence (required, max 1000 chars)" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Report submitted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ReportResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/data/fraud/blacklist": {
      "get": {
        "tags": ["data"],
        "summary": "Fraud report check",
        "description": "Check whether a wallet has active fraud reports filed against it. Returns the count and most recent reports. **Requires x402 payment of $0.05 USDC on Base.**",
        "operationId": "getBlacklist",
        "parameters": [
          { "$ref": "#/components/parameters/wallet" }
        ],
        "security": [{ "x402": [] }],
        "x-x402": { "price": "$0.05", "network": "base" },
        "responses": {
          "200": {
            "description": "Blacklist status returned",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BlacklistResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/v1/leaderboard": {
      "get": {
        "tags": ["data"],
        "summary": "Leaderboard",
        "description": "Returns the top 50 wallets by composite score. Registered wallets are sorted first. Free — no payment required.",
        "operationId": "getLeaderboard",
        "responses": {
          "200": {
            "description": "Leaderboard returned",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LeaderboardResponse" }
              }
            }
          }
        }
      }
    },
    "/v1/badge/{wallet}.svg": {
      "get": {
        "tags": ["data"],
        "summary": "SVG score badge",
        "description": "Returns an embeddable shields.io-style SVG badge showing the wallet's current score and tier. Cached for 10 minutes. Free — no payment required.",
        "operationId": "getBadge",
        "parameters": [
          {
            "name": "wallet",
            "in": "path",
            "required": true,
            "description": "Full 40-character hex wallet address (without .svg extension)",
            "schema": { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "SVG badge image",
            "content": { "image/svg+xml": { "schema": { "type": "string" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      }
    },
    "/health": {
      "get": {
        "tags": ["system"],
        "summary": "Health check",
        "description": "Returns system status, database statistics, indexer state, and background job stats.",
        "operationId": "getHealth",
        "responses": {
          "200": { "description": "System healthy" }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "wallet": {
        "name": "wallet",
        "in": "query",
        "required": true,
        "description": "Base wallet address (EIP-55 checksummed or lowercase)",
        "schema": { "type": "string", "pattern": "^0x[0-9a-fA-F]{40}$" },
        "example": "0x3e4ef1f774857c69e33dddc471e110c7ac7bb528"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": { "error": { "type": "string" } }
      },
      "BasicScoreResponse": {
        "type": "object",
        "properties": {
          "wallet":         { "type": "string" },
          "score":          { "type": "integer", "minimum": 0, "maximum": 100 },
          "tier":           { "type": "string", "enum": ["Unverified", "Emerging", "Established", "Trusted", "Elite"] },
          "confidence":     { "type": "number", "minimum": 0, "maximum": 1 },
          "recommendation": { "type": "string", "enum": ["proceed", "proceed_with_caution", "insufficient_history", "high_risk", "flagged_for_review", "rpc_unavailable"] },
          "modelVersion":   { "type": "string" },
          "lastUpdated":    { "type": "string", "format": "date-time" },
          "computedAt":     { "type": "string", "format": "date-time", "description": "ISO-8601 timestamp of when the score was computed (may differ from lastUpdated when served from cache)" },
          "scoreFreshness": { "type": "number", "minimum": 0, "maximum": 1, "description": "Freshness factor: 1 = just computed, decays linearly toward 0 at cache expiry. Consumers can use this to weight trust." },
          "stale":          { "type": "boolean", "description": "True when RPC was unavailable and a cached result was returned" }
        }
      },
      "FullScoreResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/BasicScoreResponse" },
          {
            "type": "object",
            "properties": {
              "sybilFlag":        { "type": "boolean" },
              "gamingIndicators": { "type": "array", "items": { "type": "string" } },
              "dimensions": {
                "type": "object",
                "properties": {
                  "reliability":  { "$ref": "#/components/schemas/Dimension" },
                  "viability":    { "$ref": "#/components/schemas/Dimension" },
                  "identity":     { "$ref": "#/components/schemas/Dimension" },
                  "capability":   { "$ref": "#/components/schemas/Dimension" }
                }
              },
              "dataAvailability": {
                "type": "object",
                "properties": {
                  "transactionHistory": { "type": "string" },
                  "walletAge":          { "type": "string" },
                  "economicData":       { "type": "string" },
                  "identityData":       { "type": "string" },
                  "communityData":      { "type": "string" }
                }
              },
              "improvementPath": { "type": "array", "items": { "type": "string" } },
              "scoreHistory": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "score":          { "type": "integer" },
                    "calculatedAt":   { "type": "string", "format": "date-time" },
                    "modelVersion":   { "type": "string" }
                  }
                }
              }
            }
          }
        ]
      },
      "Dimension": {
        "type": "object",
        "properties": {
          "score": { "type": "integer", "minimum": 0, "maximum": 100 },
          "data":  { "type": "object" }
        }
      },
      "RegisterBody": {
        "type": "object",
        "required": ["wallet"],
        "properties": {
          "wallet":      { "type": "string", "description": "Wallet address to register" },
          "name":        { "type": "string", "maxLength": 100 },
          "description": { "type": "string", "maxLength": 500 },
          "github_url":  { "type": "string", "format": "uri", "maxLength": 200 },
          "website_url": { "type": "string", "format": "uri", "maxLength": 200 }
        }
      },
      "RegisterResponse": {
        "type": "object",
        "properties": {
          "wallet":          { "type": "string" },
          "status":          { "type": "string", "enum": ["registered", "updated"] },
          "registeredAt":    { "type": "string", "format": "date-time" },
          "name":            { "type": "string", "nullable": true },
          "description":     { "type": "string", "nullable": true },
          "github_url":      { "type": "string", "nullable": true },
          "website_url":     { "type": "string", "nullable": true },
          "github_verified": { "type": "boolean" },
          "github_stars":    { "type": "integer", "nullable": true },
          "github_pushed_at":{ "type": "string", "nullable": true }
        }
      },
      "LeaderboardResponse": {
        "type": "object",
        "properties": {
          "leaderboard": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "rank":          { "type": "integer" },
                "wallet":        { "type": "string" },
                "score":         { "type": "integer" },
                "tier":          { "type": "string" },
                "daysAlive":     { "type": "integer" },
                "isRegistered":  { "type": "boolean" },
                "githubVerified":{ "type": "boolean" }
              }
            }
          },
          "totalAgentsScored":     { "type": "integer" },
          "totalAgentsRegistered": { "type": "integer" },
          "lastUpdated":           { "type": "string", "format": "date-time" }
        }
      },
      "ReportResponse": {
        "type": "object",
        "properties": {
          "reportId":          { "type": "string", "format": "uuid" },
          "status":            { "type": "string", "enum": ["accepted"] },
          "targetCurrentScore":{ "type": "integer", "minimum": 0, "maximum": 100 },
          "penaltyApplied":    { "type": "integer" }
        }
      },
      "BlacklistResponse": {
        "type": "object",
        "properties": {
          "wallet":          { "type": "string" },
          "reported":        { "type": "boolean", "description": "True if the wallet has active fraud reports" },
          "reportCount":     { "type": "integer" },
          "mostRecentDate":  { "type": "string", "format": "date-time", "nullable": true },
          "reasons":         { "type": "array", "items": { "type": "string" }, "description": "Unique report reason categories" },
          "disputeStatus":   { "type": "string", "enum": ["none"], "description": "Currently always 'none' (dispute system not yet implemented)" }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request parameters",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      },
      "PaymentRequired": {
        "description": "x402 payment required. The response includes a WWW-Authenticate header with payment details. Use an x402-compatible client to pay and retry.",
        "headers": {
          "WWW-Authenticate": { "schema": { "type": "string" } }
        }
      }
    },
    "securitySchemes": {
      "x402": {
        "type": "http",
        "scheme": "x402",
        "description": "x402 micropayment protocol (EIP-3009 USDC transferWithAuthorization on Base). See https://www.x402.org for client libraries."
      }
    }
  }
}
